{% extends 'layout.html' %}
{% block header %}
  <h1>{% block title %}Matcha{% endblock %}</h1>
{% endblock %}

{% block content %}
                <div class="row" id="info">
                    <div class="col-sm-12 col-md-12 col-lg-12" id="suggested">
                        <!-- <div class='row'>
                        {% for user in usrs%}
                            <div class="col-sm-3 col-md-3 col-lg-3" id="{{user.id}}">
                                
                                {% if user.active == false %}
                                    <div class="alert alert-danger">Offline</div>
                                {% else %}
                                    <div class="alert alert-success">Online</div>
                                {% endif %}
                                {{user.firstname}}<br/>
                                {{user.lastname}}<br/>
                                {{user.email}}<br/>
                                <a href="{{url_for('view_profile', userid=user.user_id)}}" class="float-right">
                                    <button class="btn btn-primary">View Profile</button>
                                </a>
                            </div> -->

                                {%if user.username%}
                                    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                                     <div class="well profile">
                                        <div class="col-sm-12">
                                            <div class="name_info col-xs-12 col-sm-8">
                                                <h2>{{user.firstname}} {{user.lastname}}</h2>
                                                <p><strong>About: </strong> Web Designer / UI. </p>
                                                <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                                                <p><strong>Skills: </strong>
                                                    <span class="tags">html5</span>
                                                    <span class="tags">css3</span>
                                                    <span class="tags">javascript</span>
                                                    <span class="tags">bootstrap3</span>
                                                </p>
                                            </div>             
                                            <div class="col-xs-12 col-sm-4 text-center picture_info">
                                                <figure class="profile_pic">
                                                    {%if user.profile_pic%}
                                                        <img src="{{user.profile_pic}}" alt="" class="img-circle img-responsive">
                                                    {%else%}
                                                        <img src="{{url_for('static', filename='avatar.png')}}" alt="" class="img-circle img-responsive">
                                                    {%endif%}
                                                    <figcaption class="ratings">
                                                        <p>Fame Ratings<br/>
                                                        <a href="#">
                                                            <span class="fa fa-star"></span>
                                                        </a>
                                                        <a href="#">
                                                            <span class="fa fa-star"></span>
                                                        </a>
                                                        <a href="#">
                                                            <span class="fa fa-star"></span>
                                                        </a>
                                                        <a href="#">
                                                            <span class="fa fa-star"></span>
                                                        </a>
                                                        <a href="#">
                                                             <span class="fa fa-star-o"></span>
                                                        </a>
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>            
                                        <div class="col-xs-12 divider text-center row">
                                            <div class="col-xs-12 col-sm-4 emphasis">
                                                <h2><strong> {{user.num_likes}} </strong></h2>                    
                                                <p><small>Followers</small></p>
                                                <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 emphasis">
                                                <h2><strong>{{user.num_liked}}</strong></h2>                    
                                                <p><small>Following</small></p>
                                                <form action="{{url_for('view_profile', userid=user.user_id)}}">
                                                        <button class="btn btn-info btn-block" type="submit"><span class="fa fa-user"></span> View Profile </button>
                                                </form>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 emphasis">
                                                <h2><strong>43</strong></h2>                    
                                                <p><small>Snippets</small></p>
                                                <div class="btn-group dropup btn-block">
                                                    <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu text-left" role="menu">
                                                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Chat </a></li>
                                                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                                                    </ul>
                                                </div>
                                        </div>
                                     </div>                 
                                    </div>
                               
                            </div>
                            {%endif%}
                        {% endfor %}
                        </div>
                    </div>
                </div>

{% endblock %}
